/* 
This file is use to hold styles relative to sample page
No style for React viewer component should be here. To add style specific to the viewer go to src/assests/style
  - theme.tsx for Material-UI
  - style.css for specific viewer style
  - vendor.css to override a third party library style 
*/
html {
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
  padding: 50px;
}

td {
  width: 100%;
}

.map-container {
  height: 800px;
}

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.panel {
  display: none;
  width: 100%;
  background: #ffffff;
  box-shadow: 0px 0px 2px 2px #666666;
  -webkit-box-shadow: 2px 2px 5px 5x #666666;
  -moz-box-shadow: 2px 2px 5px 5px #666666;
  padding: 10px;
  font-size: 12px;
}

.toolbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin: 10px;
}

.index-header-title {
  text-align: center;
}

.header-title {
  text-align: center;
  position: absolute;
  left: 0;
}

.header-table {
  width: 1180px;
  text-align: left;
  margin: 0 auto;
}

.center-logo {
  margin-left: auto;
  margin-right: auto;
}

.header-logo {
  display: block;
  height: 120px;
  width: 120px;
  text-align: left;
}

.llwp-map {
  height: 800px;
  border: gray 1px solid;
}

.legendTable {
  padding: 5px;
  margin: 10px 0px 3px;
  border: #000 1px solid;
  background-color: #e5eff7;
}

.map-title-holder {
  display: flex;
}

.map-title-holder .ref-link {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
}
