<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%= htmlWebpackPlugin.options.title %></title>
        <link rel="shortcut icon" href="./favicon.ico" />
        <meta name="msapplication-TileColor" content="#da532c" />
        <meta name="msapplication-config" content="./img/browserconfig.xml" />
        <meta name="theme-color" content="#ffffff" />
        <meta name="msapplication-TileColor" content="#da532c" />
        <meta name="theme-color" content="#ffffff" />
        <link
            href="https://fonts.googleapis.com/css?family=Roboto|Montserrat:200,300,400,900|Merriweather"
            rel="stylesheet"
            type="text/css"
        />
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
        <link rel="stylesheet" href="css/style.css" />
    </head>
    <body>
        <div calss="header-table">
            <table>
                <tbody>
                    <tr>
                        <td><img class="header-logo" alt="logo" src="./img/Logo.png" /></td>
                        <td class="header-title">
                            <h1><strong>Events</strong></h1>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="./index.html">Main</a><br />
                            <a href="#HLNG1">1. Snackbar Notification</a><br />
                        </td>
                    </tr>
                </tbody>
            </table>
            <table>
                <tbody>
                    <tr>
                        <td>This page is used to showcase how emit and listen to events from the API works</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <h3 id="HEVNT1">1. Snackbar Notification</h3>
            <h3><a href="#top">Top of the page</a></h3>
            <div
                id="EVNT1"
                class="llwp-map"
                data-leaflet="{ 'name': 'LCCEN', 'projection': 3978, 'zoom': 4, 'center': [60,-100], 'language': 'en-CA', 'basemapOptions': { 'id': 'transport', 'shaded': true, 'labeled': true }, 'layers': [] }"
            ></div>
            <p>This script tag will trigger a basic notification on load and another with a custom function every 20 seconds.</p>
            <p><strong>Configuration Snippet:</strong></p>
            <div id="EVNT1CS" class="panel"></div>
            <br />
            <div id="codeSnippet" class="panel">
                <h3>Accessing map center from outside of the core viewer using api event listeners</h3>
                <div class="maps-position"></div>
            </div>
        </div>
        <script src="codedoc.js"></script>
        <script>

            // initialize cgpv and api events, a callback is optional, used if calling api's after the rendering is ready
            cgpv.init(function () {
                console.log('api is ready');

                //create snippets
                createCodeSnippet();
                createConfigSnippet();

                //get map posiion panel
                const mapsPosition = document.getElementsByClassName('maps-position');

                // listen to all events emitted with same event name
                cgpv.api.all('map/moveend', (args) => {
                    mapsPosition[0].innerHTML = mapsPosition[0].innerHTML = args
                        .map((map) => {
                            return `<p>Map ${map.handlerName} with latitude ${map.position.lat} and longitude ${map.position.lng}</p>`;
                        })
                        .join(' ');
                });

                // snackbar notification
                window.cgpv.api.event.emit('snackbar/open', 'EVNT1', {
                    message: 'This is my first snackbar!',
                });

                setInterval(() => {
                    window.cgpv.api.event.emit('snackbar/open', 'EVNT1', {
                        message: 'I can even apply a function',
                        button: {
                            label: 'Click me!',
                            action: () => {
                                alert('You clicked me!');
                            },
                        },
                    });
                }, 20000);
            });
        </script>
    </body>
</html>
