<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%= htmlWebpackPlugin.options.title %></title>
        <link rel="shortcut icon" href="./favicon.ico" />
        <meta name="msapplication-TileColor" content="#da532c" />
        <meta name="msapplication-config" content="./img/browserconfig.xml" />
        <meta name="theme-color" content="#ffffff" />
        <meta name="msapplication-TileColor" content="#da532c" />
        <meta name="theme-color" content="#ffffff" />
        <link
            href="https://fonts.googleapis.com/css?family=Roboto|Montserrat:200,300,400,900|Merriweather"
            rel="stylesheet"
            type="text/css"
        />
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
        <link rel="stylesheet" href="css/style.css" />
    </head>
    <body>
        <div calss="header-table">
            <table>
                <tbody>
                    <tr>
                        <td><img class="header-logo" alt="logo" src="./img/Logo.png" /></td>
                        <td class="header-title">
                            <h1><strong>Languages</strong></h1>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <a href="./index.html">Main</a><br />
                            <a href="#HLNG1">1. English</a><br />
                            <a href="#HLNG2">2. French</a><br />
                        </td>
                    </tr>
                </tbody>
            </table>
            <table>
                <tbody>
                    <tr>
                        <td>This page is used to showcase how the viewer may show different languages</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <h3 id="HLNG1">1. English</h3>
            <h3><a href="#top">Top of the page</a></h3>
            <div
                id="LNG1"
                class="llwp-map"
                data-leaflet="{ 'name': 'LCCEN', 'projection': 3978, 'zoom': 4, 'center': [60,-100], 'language': 'en-CA', 'basemapOptions': { 'id': 'transport', 'shaded': true, 'labeled': true }, 'layers': [] }"
            ></div>
            <p>This map is in English.</p>
            <p><strong>Configuraion Snippet:</strong></p>
            <div id="LNG1CS" class="panel"></div>
        </div>
        <hr />
        <div>
            <h3 id="HLNG2">2. French</h3>
            <h3><a href="#top">Top of the page</a></h3>
            <div
                id="LNG2"
                class="llwp-map"
                data-leaflet="{'name': 'LCCFR', 'projection': 3978, 'zoom': 4, 'center': [60,-100], 'language': 'fr-CA', 'basemapOptions': { 'id': 'transport', 'shaded': true, 'labeled': true }, 'layers':[]}"
            ></div>
            <p>This map is in French</p>
            <p><strong>Configuraion Snippet:</strong></p>
            <div id="LNG2CS" class="panel"></div>
        </div>
        <script src="codedoc.js"></script>
        <script>
            // initialize cgpv and api events, a callback is optional, used if calling api's after the rendering is ready
            cgpv.init(function () {
                console.log('api is ready');

                //create snippet
                createConfigSnippet();
            });
        </script>
    </body>
</html>
