<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <title><%= htmlWebpackPlugin.options.title %></title>
        <link rel="shortcut icon" href="./favicon.ico" />
        <meta name="msapplication-TileColor" content="#da532c" />
        <meta name="msapplication-config" content="./img/browserconfig.xml" />
        <meta name="theme-color" content="#ffffff" />
        <meta name="msapplication-TileColor" content="#da532c" />
        <meta name="theme-color" content="#ffffff" />
        <link href="https://fonts.googleapis.com/css?family=Roboto|Montserrat:200,300,400,900|Merriweather" rel="stylesheet" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
        <script src="gcpv-main.js"></script>
        <link rel="stylesheet" href="css/style.css" />
    </head>
    <body>
        <div calss="header-table">
            <table>
                <tbody>
                    <tr>
                        <td><img class="header-logo" alt="logo" src="./img/Logo.png" /></td>
                        <td class="header-title">
                            <h1><strong>Layers</strong></h1>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <a href="./index.html">Main</a><br />
                            <a href="#HLYR1">1. WMS Layer</a><br />
                            <a href="#HLYR2">2. Esri Dynamic Servive Layer</a><br />
                            <a href="#HLYR3">2. Esri Feature Servive Layer</a><br />
                            <a href="#HLYR4">3. GeoJSON Layer</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table>
                <tbody>
                    <tr>
                        <td>This page is used to showcase how the viewer may show different layer types</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <h3 id="HLYR1">1.WMS Layer</h3>
            <h3><a href="#top">Top of the page</a></h3>
            <div
                id="LYR1"
                class="llwp-map"
                data-leaflet=" { 'name': 'LCC', 'projection': 3978, 'zoom': 4, 'center': [60,-100], 'language': 'en-CA', 'basemapOptions': { 'id': 'transport', 'shaded': true, 'labeled': true },
            'layers': [
                { 'name': 'Census WMS', 'url': 'https://webservices.maps.canada.ca/arcgis/services/StatCan/census_subdivisions_2016_en/MapServer/WMSServer', 'type': 'ogcWMS', 'entries': '0' }
            ] } "
            ></div>
            <p>This map has a wms layer added from configuration.</p>
            <p><strong>Configuration Snippet:</strong></p>
            <div id="LYR1CS" class="panel"></div>
        </div>
        <hr />
        <div>
            <h3 id="HLYR2">2. Esri dynamic layer</h3>
            <h3><a href="#top">Top of the page</a></h3>
            <div
                id="LYR2"
                class="llwp-map"
                data-leaflet=" { 'name': 'LCC', 'projection': 3978, 'zoom': 4, 'center': [60,-100], 'language': 'en-CA', 'basemapOptions': { 'id': 'transport', 'shaded': true, 'labeled': true },
            'layers': [
                { 'name': 'Energy Dyna', 'url': 'https://geoappext.nrcan.gc.ca/arcgis/rest/services/NACEI/energy_infrastructure_of_north_america_en/MapServer', 'type': 'esriDynamic', 'entries': '4, 5, 7, 8, 9, 10, 12, 13, 14, 15, 16, 28, 29, 37' }
            ] } "
            ></div>
            <p>This map has a Esri dynamic layer added from configuration.</p>
            <p><strong>Configuration Snippet:</strong></p>
            <div id="LYR2CS" class="panel"></div>
        </div>
        <div>
            <h3 id="HLYR3">3. Esri feature layer</h3>
            <h3><a href="#top">Top of the page</a></h3>
            <div
                id="LYR3"
                class="llwp-map"
                data-leaflet="{ 'name': 'LCC_SHADED', 'projection': 3978, 'zoom': 4, 'center': [60,-100], 'language': 'en-CA','basemapOptions': { 'id': 'shaded', 'shaded': false, 'labeled': false },
            'layers': [
                { 'name': 'Energy Feat', 'url': 'https://geoappext.nrcan.gc.ca/arcgis/rest/services/NACEI/energy_infrastructure_of_north_america_en/MapServer/1', 'type': 'esriFeature' }]
            }"
            ></div>
            <p>This map has a Esri feature layer added from configuration.</p>
            <p><strong>Configuration Snippet:</strong></p>
            <div id="LYR3CS" class="panel"></div>
        </div>
        <div>
            <h3 id="HLYR4">4. GeoJSON Layer</h3>
            <h3><a href="#top">Top of the page</a></h3>
            <div
                id="LYR4"
                class="llwp-map"
                data-leaflet="{ 'name': 'LCC_SHADED', 'projection': 3978, 'zoom': 4, 'center': [60,-100], 'language': 'en-CA','basemapOptions': { 'id': 'shaded', 'shaded': false, 'labeled': false },
                              'layers': [ { 'name': 'GeoJSON', 'url': './geojson/polygons.json', 'type': 'geoJSON' }] }"
            ></div>
            <p>
                This map has one GeoJSON layer added from configuration. and another geoJSON layer can be added/removed by clikcing the
                buttons
            </p>
            <button id="add-geojson">Add GeoJSON Layer</button><button id="remove-geojson">Remove GeoJSON Layer</button> <br />
            <label id="new-layer-id-label"> Added Layer ID : </label><label id="new-layer-id"></label>
            <p><strong>Configuration Snippet:</strong></p>
            <div id="LYR4CS" class="panel"></div>
            <p><strong>Code Snippet:</strong></p>
            <div id="codeSnippet" class="panel"></div>
        </div>
        <script src="codedoc.js"></script>
        <script>
            // initialize cgpv and api events, a callback is optional, used if calling api's after the rendering is ready
            cgpv.init(function () {
                console.log('api is ready');

                //create snippets
                createCodeSnippet();
                createConfigSnippet();
            });

            // find the button element by ID
            var addGeoJSONButton = document.getElementById('add-geojson');

            // add an event listener when a button is clicked
            addGeoJSONButton.addEventListener('click', function (e) {
                // adding a geojson layer requires a type of geojson and url
                const layerID = cgpv.api.map('LYR4').addLayer({
                    type: 'geoJSON',
                    url: 'https://raw.githubusercontent.com/fgpv-vpgf/contributed-plugins/master/chart/src/samples/geoJSON/pieChart.json',
                });
                document.getElementById('new-layer-id').innerText = layerID;
            });

            // find the button element by ID
            var removeGeoJSONButton = document.getElementById('remove-geojson');

            // add an event listener when a button is clicked
            removeGeoJSONButton.addEventListener('click', function (e) {
                // removing a geojson layer using the ID
                cgpv.api.map('LYR4').removeLayer(document.getElementById('new-layer-id').innerText);
                document.getElementById('new-layer-id').innerText = '';
            });
        </script>
    </body>
</html>
