<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%= htmlWebpackPlugin.options.title %></title>
        <link rel="shortcut icon" href="./favicon.ico" />
        <meta name="msapplication-TileColor" content="#da532c" />
        <meta name="msapplication-config" content="./img/browserconfig.xml" />
        <meta name="theme-color" content="#ffffff" />
        <meta name="msapplication-TileColor" content="#da532c" />
        <meta name="theme-color" content="#ffffff" />
        <link
            href="https://fonts.googleapis.com/css?family=Roboto|Montserrat:200,300,400,900|Merriweather"
            rel="stylesheet"
            type="text/css"
        />
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
        <link rel="stylesheet" href="css/style.css" />
        <style>
            /* Style the tab */
            .tab {
                overflow: hidden;
                border: 1px solid #ccc;
                background-color: #f1f1f1;
            }

            /* Style the buttons inside the tab */
            .tab button {
                background-color: inherit;
                float: left;
                border: none;
                outline: none;
                cursor: pointer;
                padding: 14px 16px;
                transition: 0.3s;
                font-size: 17px;
            }

            /* Change background color of buttons on hover */
            .tab button:hover {
                background-color: #ddd;
            }

            /* Create an active/current tablink class */
            .tab button.active {
                background-color: #ccc;
            }

            /* Style the tab content */
            .tabcontent {
                display: none;
                padding: 6px 12px;
                border: 1px solid #ccc;
                border-top: none;
            }
        </style>
    </head>
    <body>
        <div calss="header-table">
            <table>
                <tbody>
                    <tr>
                        <td><img class="header-logo" alt="logo" src="./img/Logo.png" /></td>
                        <td class="header-title">
                            <h1><strong>Load Test</strong></h1>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table>
                <tbody>
                    <tr>
                        <td><a href="./index.html">Main</a><br /></td>
                    </tr>
                </tbody>
            </table>
            <table>
                <tbody>
                    <tr>
                        <td>This page is used to showcase how the viewer may implement different vector functions</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <label>Layer Type </label
        ><select name="layerType" id="layerType">
            <option value="ogcWMS">WMS Layer</option>
            <option value="esriFeature">Esri Feature Layer</option>
            <option value="esriDynamic">Esri Dynamic Layer</option>
            <option value="geoJSONPoint">GeoJson Point Layer</option>
            <option value="geoJSONLine">GeoJson Line Layer</option>
            <option value="geoJSONPolygon">GeoJson Polygon Layer</option>
            <option value="jsonFeatures">GeoJson Features</option>
        </select>
        <div id="sourcedLayers">
            <input type="checkbox" id="useExample" /> load example <label id="URLlbl"> URL </label> <input id="url" /><label
                id="entrieslbl"
            >
                entries
            </label>
            <input id="entries" />
            <label> No of layers to load </label><input id="layerCount" /> <br />
            <button id="load-btn">Load Data</button><br />
        </div>
        <div id="jsonFeatures" style="display: none">
            <label id="featuretype"> Generate Random Geometries</label>
            <select name="jsonfeaturetype" id="jsonfeaturetype">
                <option value="jsonPoint">Point</option>
                <option value="jsonLine">Lines</option>
                <option value="jsonPolygon">Polygon</option>
            </select>
            <label id="featureCntlbl">Feature Count</label>
            <input id="featureCnt" />
            <button id="load-features-btn">Load Data</button><br />
        </div>
        <label id="timerlbl">time to render: </label><label id="timer"> </label><br />
        <label id="zoomtimelbl">time to zoom : </label><label id="zoomtime"> </label><br />
        <div
            id="mapWM"
            class="llwp-map"
            data-leaflet=" { 'name': 'Web Mercator', 'projection': 3978, 'zoom': 4, 'center': [60,-100], 'language': 'en-CA', 'basemapOptions': { 'id': 'transport', 'shaded': false, 'labeled': true } ,
            'layers': []} "
        ></div>
        <script src="codedoc.js"></script>
        <script>
            let tzoom0 = 0;
            // initialize cgpv and api events, a callback is optional, used if calling api's after the rendering is ready
            cgpv.init(function () {
                console.log('api is ready');
                cgpv.api.on(
                    'map/zoomend',
                    (args) => {
                        console.log(args);
                    },
                    'mapWM'
                );
                cgpv.api.map('mapWM').map.on('zoomstart', function () {
                    tzoom0 = performance.now();
                });
                cgpv.api.map('mapWM').map.on('zoomend', function () {
                    var tzoom1 = performance.now();
                    document.getElementById('zoomtime').innerText = Math.round(tzoom1 - tzoom0) / 1000 + ' Seconds';
                });
            });

            // find the button element by ID
            var addwmsButton = document.getElementById('load-wms-btn');

            var useExample = document.getElementById('useExample');
            useExample.addEventListener('click', function (e) {
                updateURL();
            });

            function updateURL() {
                if (document.getElementById('useExample').checked === true) {
                    switch (document.getElementById('layerType').value) {
                        case 'esriFeature':
                            document.getElementById('url').value =
                                'https://geoappext.nrcan.gc.ca/arcgis/rest/services/NACEI/energy_infrastructure_of_north_america_en/MapServer/1';
                            document.getElementById('entries').value = 0;
                            break;
                        case 'esriDynamic':
                            document.getElementById('url').value =
                                'https://geoappext.nrcan.gc.ca/arcgis/rest/services/NACEI/energy_infrastructure_of_north_america_en/MapServer';
                            document.getElementById('entries').value = '0, 2, 4, 5';
                            break;
                        case 'ogcWMS':
                            document.getElementById('url').value =
                                'https://webservices.maps.canada.ca/arcgis/services/StatCan/census_subdivisions_2016_en/MapServer/WMSServer';
                            document.getElementById('entries').value = 0;
                            break;
                        case 'geoJSONPoint':
                            document.getElementById('url').value = './geojson/points.json';
                            document.getElementById('entries').value = '';
                            break;
                        case 'geoJSONLine':
                            document.getElementById('url').value = './geojson/lines.json';
                            document.getElementById('entries').value = '';
                            break;
                        case 'geoJSONPolygon':
                            document.getElementById('url').value = './geojson/polygons.json';
                            document.getElementById('entries').value = '';
                            break;
                    }
                }
            }

            var layerTypeCbo = document.getElementById('layerType');
            layerTypeCbo.addEventListener('change', function (e) {
                updateEntriesVisibility();
                updateURL();
            });
            var addFeatureButton = document.getElementById('load-btn');
            addFeatureButton.addEventListener('click', function (e) {
                var t0 = performance.now();
                if (typeof parseInt(document.getElementById('layerCount').value) === 'number') {
                    let i = 1;

                    for (j = 0; j < parseInt(document.getElementById('layerCount').value); j++) {
                        if (['ogcWMS'].indexOf(document.getElementById('layerType').value) > -1) {
                            const layerID = cgpv.api.map('mapWM').createWmsLayer({
                                type: document.getElementById('layerType').value,
                                entries: document.getElementById('entries').value,
                                url: document.getElementById('url').value,
                            });
                        }
                        if (['esriFeature'].indexOf(document.getElementById('layerType').value) > -1) {
                            const layerID = cgpv.api.map('mapWM').createFeatureLayer({
                                type: document.getElementById('layerType').value,
                                entries: document.getElementById('entries').value,
                                url: document.getElementById('url').value,
                            });
                        }
                        if (['esriDynamic'].indexOf(document.getElementById('layerType').value) > -1) {
                            const layerID = cgpv.api.map('mapWM').createDynamicLayer({
                                type: document.getElementById('layerType').value,
                                entries: document.getElementById('entries').value,
                                url: document.getElementById('url').value,
                            });
                        }
                        if (['geoJSONPoint', 'geoJSONPolygon', 'geoJSONLine'].indexOf(document.getElementById('layerType').value) > -1) {
                            const layerID = cgpv.api.map('mapWM').createGeoJSONLayer({
                                type: document.getElementById('layerType').value,
                                entries: document.getElementById('entries').value,
                                url: document.getElementById('url').value,
                            });
                        }
                        // add an event listener when a button is clicked
                        // adding a geojson layer requires a type of geojson and url

                        i++;
                    }
                }
                cgpv.api.map('mapWM').layers[cgpv.api.map('mapWM').layers.length - 1].layer.on('load', function () {
                    if (!document.getElementById('timer').innerText) {
                        var t1 = performance.now();
                        document.getElementById('timer').innerText = Math.round(t1 - t0) / 1000 + ' Seconds';
                    }
                });
            });

            var addFeatureButton = document.getElementById('load-features-btn');
            addFeatureButton.addEventListener('click', function (e) {
                if (['jsonFeatures'].indexOf(document.getElementById('layerType').value) > -1) {
                    var t0 = performance.now();
                    switch (document.getElementById('jsonfeaturetype').value) {
                        case 'jsonPoint':
                            addJSONPoint();
                            break;

                        case 'jsonLine':
                            addJSONLine();
                            break;
                        default:
                            addJSONPolygon();
                    }
                }
                var t1 = performance.now();
                document.getElementById('timer').innerText = Math.round(t1 - t0) / 1000 + ' Seconds';
            });

            function addJSONPolyline() {
                let i = 1;
                for (j = 0; j < parseInt(document.getElementById('featureCnt').value); j++) {
                    addPolyline(cgpv.api.map('mapWM'));
                }
            }

            function addJSONPoint() {
                for (j = 0; j < parseInt(document.getElementById('featureCnt').value); j++) {
                    addCircleMarker(cgpv.api.map('mapWM'), Math.floor(Math.random()));
                }
            }

            function addJSONPolygon() {
                for (j = 0; j < parseInt(document.getElementById('featureCnt').value); j++) {
                    addPolygon(cgpv.api.map('mapWM'), Math.floor(Math.random() * 2));
                }
            }

            function addCircleMarker(map) {
                // call an api function to draw a polygon
                const circleMarker = cgpv.api
                    .map(map)
                    .addCircleMarker(generateRandomCoord()[0], -generateRandomCoord()[1], Math.floor(Math.random() * 20), {
                        color: 'red',
                        fillColor: '#f03',
                        fillOpacity: 0.5,
                        radius: 50.0,
                    });
                cgpv.api.map(map).addToGeometryGroup(circleMarker);
            }
            function updateEntriesVisibility() {
                if (
                    ['ogcWMS', 'esriFeature', , 'esriDynamic', 'geoJSONPoint', 'geoJSONLine', 'geoJSONPolygon'].indexOf(
                        document.getElementById('layerType').value
                    ) > -1
                ) {
                    document.getElementById('sourcedLayers').style.display = 'block';
                    document.getElementById('jsonFeatures').style.display = 'none';
                }
                if (['jsonFeatures'].indexOf(document.getElementById('layerType').value) > -1) {
                    document.getElementById('jsonFeatures').style.display = 'block';
                    document.getElementById('sourcedLayers').style.display = 'none';
                }
            }
            function addPolygon(map, factor) {
                const center = generateRandomCoord();
                // call an api function to draw a polygon
                const polygon = cgpv.api.map(map).addPolygon(
                    [
                        [center[0] + factor, -center[1] + factor],
                        [center[0] + factor, -center[1] - factor],
                        [center[0] - factor, -center[1] - factor],
                        [center[0] - factor, -center[1] + factor],
                    ],
                    {
                        stroke: true,
                        color: '#000',
                        weight: 5,
                        opacity: '0.8',
                    }
                );
                cgpv.api.map(map).addToGeometryGroup(polygon);
            }

            function addPolyline(map) {
                // call an api function to draw a polyline
                const polyline = cgpv.api.map(map).addPolyline(
                    [
                        [generateRandomCoord()[0], -generateRandomCoord()[1]],
                        [generateRandomCoord()[0], -generateRandomCoord()[1]],
                    ],
                    {
                        stroke: true,
                        color: '#000',
                        weight: 5,
                        opacity: '0.8',
                    }
                );

                cgpv.api.map(map).addToGeometryGroup(polyline);
            }

            function generateRandomCoord() {
                return [Math.floor(Math.random() * (72 - 40)) + 40, Math.floor(Math.random() * (129 - 62)) + 62];
            }
        </script>
    </body>
</html>
