<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%= htmlWebpackPlugin.options.title %></title>
        <link rel="shortcut icon" href="./favicon.ico" />
        <meta name="msapplication-TileColor" content="#da532c" />
        <meta name="msapplication-config" content="./img/browserconfig.xml" />
        <meta name="theme-color" content="#ffffff" />
        <meta name="msapplication-TileColor" content="#da532c" />
        <meta name="theme-color" content="#ffffff" />
        <link
            href="https://fonts.googleapis.com/css?family=Roboto|Montserrat:200,300,400,900|Merriweather"
            rel="stylesheet"
            type="text/css"
        />
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
        <link rel="stylesheet" href="css/style.css" />
        <style>
            /* Style the tab */
            .tab {
                overflow: hidden;
                border: 1px solid #ccc;
                background-color: #f1f1f1;
            }

            /* Style the buttons inside the tab */
            .tab button {
                background-color: inherit;
                float: left;
                border: none;
                outline: none;
                cursor: pointer;
                padding: 14px 16px;
                transition: 0.3s;
                font-size: 17px;
            }

            /* Change background color of buttons on hover */
            .tab button:hover {
                background-color: #ddd;
            }

            /* Create an active/current tablink class */
            .tab button.active {
                background-color: #ccc;
            }

            /* Style the tab content */
            .tabcontent {
                display: none;
                padding: 6px 12px;
                border: 1px solid #ccc;
                border-top: none;
            }
        </style>
    </head>
    <body>
        <div calss="header-table">
            <table>
                <tbody>
                    <tr>
                        <td><img class="header-logo" alt="logo" src="./img/Logo.png" /></td>
                        <td class="header-title">
                            <h1><strong>Load Test</strong></h1>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table>
                <tbody>
                    <tr>
                        <td><a href="./index.html">Main</a><br /></td>
                    </tr>
                </tbody>
            </table>
            <table>
                <tbody>
                    <tr>
                        <td>This page is used to showcase how the viewer may implement different vector functions</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <label>Layer Type </label
        ><select name="layerType" id="layerType">
            <option value="ogcWMS">WMS Layer</option>
            <option value="esriFeature">Esri Feature Layer</option>
            <option value="esriDynamic">Esri Dynamic Layer</option>
            <option value="geoJSONPoint">GeoJson Point Layer</option>
            <option value="geoJSONLine">GeoJson Line Layer</option>
            <option value="geoJSONPolygon">GeoJson Polygon Layer</option>
            <option value="jsonFeatures">GeoJson Features</option>
        </select>
        <div id="sourcedLayers">
            <input type="checkbox" id="useExample" /> load example <label id="URLlbl"> URL </label> <input id="url" /><label
                id="entrieslbl"
            >
                entries
            </label>
            <input id="entries" />
            <label> No of layers to load </label><input id="layerCount" /> <br />
            <button id="load-btn">Load Data</button><br />
        </div>
        <div id="jsonFeatures" style="display: none">
            <label id="featuretype"> Generate Random Geometries</label>
            <select name="jsonfeaturetype" id="jsonfeaturetype">
                <option value="jsonPoint">Point</option>
                <option value="jsonLine">Lines</option>
                <option value="jsonPolygon">Polygon</option>
            </select>
            <label id="featureCntlbl">Feature Count</label>
            <input id="featureCnt" />
            <button id="load-features-btn">Load Data</button><br />
        </div>
        <label id="timerlbl">time to render: </label><label id="timer"> </label><br />
        <label id="zoomtimelbl">time to zoom : </label><label id="zoomtime"> </label><br />
        <div
            id="mapWM"
            class="llwp-map"
            data-leaflet="{ 'name': 'Web Mercator', 'projection': 3978, 'zoom': 4, 'center': [60,-100], 'language': 'en-CA', 'basemapOptions': { 'id': 'transport', 'shaded': false, 'labeled': true }, 'layers': []}"
        ></div>
        <h2>Results</h2>
        <p>click on Layer type to view results from :</p>

        <div class="tab">
            <button class="tablinks" id="wmslayer">WMS</button>
            <button class="tablinks" id="featurelayer">Feature</button>
            <button class="tablinks" id="dynamiclayer">Dynamic</button>
            <button class="tablinks" id="GeoJsonPointlayer">GeoJSON Point</button>
            <button class="tablinks" id="GeoJsonLinelayer">GeoJSON Line</button>
            <button class="tablinks" id="GeoJsonPolygonlayer">GeoJSON polygon</button>
            <button class="tablinks" id="featurePointlayer">Features Point</button>
            <button class="tablinks" id="featureLinelayer">Features Line</button>
            <button class="tablinks" id="featurePolygonlayer">Features polygon</button>
        </div>
        <div id="wmslayertab" class="tabcontent">
            <table style="height: 144px; width: 412px" border="1" width="412">
                <tbody>
                    <tr style="height: 18px">
                        <td style="width: 108px; height: 18px; background-color: yellow"><strong>Layer count</strong></td>
                        <td style="width: 288px; height: 18px; background-color: yellow" colspan="3"><strong>Time to load</strong></td>
                    </tr>
                    <tr style="height: 18px">
                        <td style="width: 108px; height: 18px">1</td>
                        <td style="width: 85px; height: 18px">0.108</td>
                        <td style="width: 108.5px; height: 18px">0.44</td>
                        <td style="width: 82.5px; height: 18px">0.51</td>
                    </tr>
                    <tr style="height: 18px">
                        <td style="width: 108px; height: 18px">10</td>
                        <td style="width: 85px; height: 18px">0.304</td>
                        <td style="width: 108.5px; height: 18px">0.652</td>
                        <td style="width: 82.5px; height: 18px">0.549</td>
                    </tr>
                    <tr style="height: 18px">
                        <td style="width: 108px; height: 18px">50</td>
                        <td style="width: 85px; height: 18px">1.875</td>
                        <td style="width: 108.5px; height: 18px">1.15</td>
                        <td style="width: 82.5px; height: 18px">1.139</td>
                    </tr>
                    <tr style="height: 18px">
                        <td style="width: 108px; height: 18px">100</td>
                        <td style="width: 85px; height: 18px">3.411</td>
                        <td style="width: 108.5px; height: 18px">2.223</td>
                        <td style="width: 82.5px; height: 18px">2.437</td>
                    </tr>
                    <tr style="height: 18px">
                        <td style="width: 108px; height: 18px">150</td>
                        <td style="width: 85px; height: 18px">5.935</td>
                        <td style="width: 108.5px; height: 18px">31.27</td>
                        <td style="width: 82.5px; height: 18px">3.249</td>
                    </tr>
                    <tr style="height: 18px">
                        <td style="width: 108px; height: 18px">200</td>
                        <td style="width: 85px; height: 18px">7.652</td>
                        <td style="width: 108.5px; height: 18px">crash</td>
                        <td style="width: 82.5px; height: 18px">crash</td>
                    </tr>
                    <tr style="height: 18px">
                        <td style="width: 108px; height: 18px">250</td>
                        <td style="width: 85px; height: 18px">crash</td>
                        <td style="width: 108.5px; height: 18px">&nbsp;</td>
                        <td style="width: 82.5px; height: 18px">&nbsp;</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="featurelayertab" class="tabcontent">
            <table style="height: 144px; width: 401px" border="1" width="412">
                <tbody>
                    <tr>
                        <td style="width: 116px; background-color: yellow"><strong>Layer count</strong></td>
                        <td style="width: 269px; background-color: yellow" colspan="3"><strong>Time to load</strong></td>
                    </tr>
                    <tr>
                        <td style="width: 116px">1</td>
                        <td style="width: 66px">0.687</td>
                        <td style="width: 92px">0.318</td>
                        <td style="width: 99px">0.339</td>
                    </tr>
                    <tr>
                        <td style="width: 116px">10</td>
                        <td style="width: 66px">1.27</td>
                        <td style="width: 92px">1.633</td>
                        <td style="width: 99px">1.267</td>
                    </tr>
                    <tr>
                        <td style="width: 116px">50</td>
                        <td style="width: 66px">5.64</td>
                        <td style="width: 92px">5.749</td>
                        <td style="width: 99px">5.84</td>
                    </tr>
                    <tr>
                        <td style="width: 116px">100</td>
                        <td style="width: 66px">11.46</td>
                        <td style="width: 92px">11.247</td>
                        <td style="width: 99px">11.258</td>
                    </tr>
                    <tr>
                        <td style="width: 116px">150</td>
                        <td style="width: 66px">16.849</td>
                        <td style="width: 92px">17.214&nbsp;</td>
                        <td style="width: 99px">17.154</td>
                    </tr>
                    <tr>
                        <td style="width: 116px">200</td>
                        <td style="width: 66px">25.508</td>
                        <td style="width: 92px">23.673</td>
                        <td style="width: 99px">22.477</td>
                    </tr>
                    <tr>
                        <td style="width: 116px">250</td>
                        <td style="width: 66px">crash</td>
                        <td style="width: 92px">29.793</td>
                        <td style="width: 99px">27.083</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="dynamiclayertab" class="tabcontent">
            <table style="height: 149px; width: 387px" border="1" width="412">
                <tbody>
                    <tr style="height: 18px">
                        <td style="width: 105px; background-color: yellow; height: 18px"><strong>Layer count</strong></td>
                        <td style="width: 266px; background-color: yellow; height: 18px" colspan="3"><strong>Time to load</strong></td>
                    </tr>
                    <tr style="height: 19px">
                        <td style="width: 105px; height: 19px">1</td>
                        <td class="xl65" style="height: 19px; width: 69px" height="19">1.17</td>
                        <td class="xl65" style="border-left: none; width: 90.5px; height: 19px">1.647</td>
                        <td class="xl65" style="border-left: none; width: 96.5px; height: 19px">1.64</td>
                    </tr>
                    <tr style="height: 19px">
                        <td style="width: 105px; height: 19px">10</td>
                        <td class="xl65" style="height: 19px; width: 69px" height="19">9.435&nbsp;</td>
                        <td class="xl65" style="height: 19px; width: 89.5px" height="19">9.451</td>
                        <td class="xl65" style="border-left: none; width: 96.5px; height: 19px">9.457&nbsp;</td>
                    </tr>
                    <tr style="height: 19px">
                        <td style="width: 105px; height: 19px">50</td>
                        <td class="xl65" style="height: 19px; width: 69px" height="19">46.273</td>
                        <td class="xl65" style="border-left: none; width: 90.5px; height: 19px">29.723</td>
                        <td class="xl65" style="border-left: none; width: 96.5px; height: 19px">32.18</td>
                    </tr>
                    <tr style="height: 19px">
                        <td style="width: 105px; height: 19px">100</td>
                        <td class="xl65" style="height: 19px; width: 69px" height="19">71.433</td>
                        <td class="xl65" style="border-left: none; width: 90.5px; height: 19px">51.912</td>
                        <td class="xl65" style="border-left: none; width: 96.5px; height: 19px">50.856</td>
                    </tr>
                    <tr style="height: 19px">
                        <td style="width: 105px; height: 19px">150</td>
                        <td class="xl65" style="height: 19px; width: 69px" height="19">crash</td>
                        <td class="xl65" style="border-left: none; width: 90.5px; height: 19px">crash</td>
                        <td class="xl65" style="border-left: none; width: 96.5px; height: 19px">crash</td>
                    </tr>
                    <tr style="height: 18px">
                        <td style="width: 105px; height: 18px">200</td>
                        <td style="width: 69px; height: 18px">&nbsp;</td>
                        <td style="width: 89.5px; height: 18px">&nbsp;</td>
                        <td style="width: 95.5px; height: 18px">&nbsp;</td>
                    </tr>
                    <tr style="height: 18px">
                        <td style="width: 105px; height: 18px">250</td>
                        <td style="width: 69px; height: 18px">&nbsp;</td>
                        <td style="width: 89.5px; height: 18px">&nbsp;</td>
                        <td style="width: 95.5px; height: 18px">&nbsp;</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="GeoJsonPointlayertab" class="tabcontent">
            <table style="height: 149px; width: 372px" border="1" width="412">
                <tbody>
                    <tr style="height: 18px">
                        <td style="width: 105px; background-color: yellow; height: 18px"><strong>Layer count</strong></td>
                        <td style="width: 267px; background-color: yellow; height: 18px" colspan="3"><strong>Time to load</strong></td>
                    </tr>
                    <tr style="height: 14.25pt">
                        <td class="xl65" style="height: 14.25pt; width: 105px" width="68" height="19">1000</td>
                        <td class="xl65" style="width: 73px" width="68">0.694</td>
                        <td class="xl65" style="width: 94px" width="68">0.81</td>
                        <td class="xl65" style="width: 100px" width="68">0.76</td>
                    </tr>
                    <tr style="height: 14.25pt">
                        <td class="xl65" style="height: 14.25pt; width: 105px" height="19">5000</td>
                        <td class="xl65" style="width: 73px">3.078</td>
                        <td class="xl65" style="width: 94px">3.267</td>
                        <td class="xl65" style="width: 100px">3.55</td>
                    </tr>
                    <tr style="height: 14.25pt">
                        <td class="xl65" style="height: 14.25pt; width: 105px" height="19">10000</td>
                        <td class="xl65" style="width: 73px">crash</td>
                        <td class="xl65" style="width: 94px">crash</td>
                        <td class="xl65" style="width: 100px">crash</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="GeoJsonLinelayertab" class="tabcontent">
            <table style="height: 149px; width: 347px" border="1" width="412">
                <tbody>
                    <tr style="height: 18px">
                        <td style="width: 105px; background-color: yellow; height: 18px"><strong>Layer count</strong></td>
                        <td style="width: 242px; background-color: yellow; height: 18px" colspan="3"><strong>Time to load</strong></td>
                    </tr>
                    <tr>
                        <td style="width: 105px" width="110">1000</td>
                        <td style="width: 80px" width="68">1.38</td>
                        <td style="width: 81px" width="68">1.474&nbsp;</td>
                        <td style="width: 81px" width="68">1.482</td>
                    </tr>
                    <tr>
                        <td style="width: 105px">5000</td>
                        <td style="width: 80px">7.445</td>
                        <td style="width: 81px">11.033</td>
                        <td style="width: 81px">7.223</td>
                    </tr>
                    <tr>
                        <td style="width: 105px">10000</td>
                        <td style="width: 80px">14.769</td>
                        <td style="width: 81px">15.03</td>
                        <td style="width: 81px">5.959</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="GeoJsonPolygonlayertab" class="tabcontent">
            <table style="height: 149px; width: 328px" border="1" width="412">
                <tbody>
                    <tr style="height: 18px">
                        <td style="width: 105px; background-color: yellow; height: 18px"><strong>Layer count</strong></td>
                        <td style="width: 223px; background-color: yellow; height: 18px" colspan="3"><strong>Time to load</strong></td>
                    </tr>
                    <tr>
                        <td style="width: 105px" width="110">1000</td>
                        <td style="width: 74px" width="68">0.631</td>
                        <td style="width: 74px" width="68">0.629&nbsp;</td>
                        <td style="width: 75px" width="68">0.604</td>
                    </tr>
                    <tr>
                        <td style="width: 105px">5000</td>
                        <td style="width: 74px">2.903</td>
                        <td style="width: 74px">2.819</td>
                        <td style="width: 75px">2.863</td>
                    </tr>
                    <tr>
                        <td style="width: 105px">10000</td>
                        <td style="width: 74px">6.044</td>
                        <td style="width: 74px">6.327</td>
                        <td style="width: 75px">5.942</td>
                    </tr>
                    <tr>
                        <td style="width: 105px">15000</td>
                        <td style="width: 74px">8.949</td>
                        <td style="width: 74px">9.27</td>
                        <td style="width: 75px">8.743</td>
                    </tr>
                    <tr>
                        <td style="width: 105px">25000</td>
                        <td style="width: 74px">14.785</td>
                        <td style="width: 74px">15.075</td>
                        <td style="width: 75px">15.005</td>
                    </tr>
                    <tr>
                        <td style="width: 105px">50000</td>
                        <td style="width: 74px">crash</td>
                        <td style="width: 74px">crash</td>
                        <td style="width: 75px">crash</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="featurePointlayertab" class="tabcontent">
            <table style="height: 149px; width: 318px" border="1" width="412">
                <tbody>
                    <tr style="height: 18px">
                        <td style="width: 150px; background-color: yellow; height: 18px"><strong>Feature count</strong></td>
                        <td style="width: 213px; background-color: yellow; height: 18px" colspan="3"><strong>Time to load</strong></td>
                    </tr>
                    <tr>
                        <td style="width: 105px" width="110">1000</td>
                        <td style="width: 71px" width="68">0.156</td>
                        <td style="width: 71px" width="68">0.155</td>
                        <td style="width: 71px" width="68">0.146&nbsp;</td>
                    </tr>
                    <tr>
                        <td style="width: 105px">5000</td>
                        <td style="width: 71px">0.548</td>
                        <td style="width: 71px">0.539</td>
                        <td style="width: 71px">0.531</td>
                    </tr>
                    <tr>
                        <td style="width: 105px">10000</td>
                        <td style="width: 71px">0.936</td>
                        <td style="width: 71px">0.911</td>
                        <td style="width: 71px">0.942</td>
                    </tr>
                    <tr>
                        <td style="width: 105px">15000</td>
                        <td style="width: 71px">1.274</td>
                        <td style="width: 71px">1.281&nbsp;</td>
                        <td style="width: 71px">1.26</td>
                    </tr>
                    <tr>
                        <td style="width: 105px">25000</td>
                        <td style="width: 71px">1.96</td>
                        <td style="width: 71px">2.019</td>
                        <td style="width: 71px">1.959</td>
                    </tr>
                    <tr>
                        <td style="width: 105px">50000</td>
                        <td style="width: 71px">3.754</td>
                        <td style="width: 71px">3.766</td>
                        <td style="width: 71px">3.906</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="featureLinelayertab" class="tabcontent">
            <table style="height: 149px; width: 310px" border="1" width="412">
                <tbody>
                    <tr style="height: 18px">
                        <td style="width: 150px; background-color: yellow; height: 18px"><strong>Feature count</strong></td>
                        <td style="width: 205px; background-color: yellow; height: 18px" colspan="3"><strong>Time to load</strong></td>
                    </tr>
                    <tr style="height: 14.25pt">
                        <td class="xl65" style="height: 14.25pt; width: 105px" width="68" height="19">1000</td>
                        <td class="xl65" style="border-left: none; width: 69px" width="68">0.18</td>
                        <td class="xl65" style="border-left: none; width: 68px" width="68">0.202</td>
                        <td class="xl65" style="border-left: none; width: 68px" width="68">0.199</td>
                    </tr>
                    <tr style="height: 14.25pt">
                        <td class="xl65" style="height: 14.25pt; border-top: none; width: 105px" height="19">5000</td>
                        <td class="xl65" style="border-top: none; border-left: none; width: 69px">0.717</td>
                        <td class="xl65" style="border-top: none; border-left: none; width: 68px">0.747</td>
                        <td class="xl65" style="border-top: none; border-left: none; width: 68px">0.681</td>
                    </tr>
                    <tr style="height: 14.25pt">
                        <td class="xl65" style="height: 14.25pt; border-top: none; width: 105px" height="19">10000</td>
                        <td class="xl65" style="border-top: none; border-left: none; width: 69px">1.157&nbsp;</td>
                        <td class="xl65" style="border-top: none; border-left: none; width: 68px">0.189</td>
                        <td class="xl65" style="border-top: none; border-left: none; width: 68px">1.14</td>
                    </tr>
                    <tr style="height: 14.25pt">
                        <td class="xl65" style="height: 14.25pt; border-top: none; width: 105px" height="19">15000</td>
                        <td class="xl65" style="border-top: none; border-left: none; width: 69px">1.602</td>
                        <td class="xl65" style="border-top: none; border-left: none; width: 68px">1.622</td>
                        <td class="xl65" style="border-top: none; border-left: none; width: 68px">1.584</td>
                    </tr>
                    <tr style="height: 14.25pt">
                        <td class="xl65" style="height: 14.25pt; border-top: none; width: 105px" height="19">25000</td>
                        <td class="xl65" style="border-top: none; border-left: none; width: 69px">2.532</td>
                        <td class="xl65" style="border-top: none; border-left: none; width: 68px">2.561</td>
                        <td class="xl65" style="border-top: none; border-left: none; width: 68px">2.539</td>
                    </tr>
                    <tr style="height: 14.25pt">
                        <td class="xl65" style="height: 14.25pt; border-top: none; width: 105px" height="19">50000</td>
                        <td class="xl65" style="border-top: none; border-left: none; width: 69px">4.792</td>
                        <td class="xl65" style="border-top: none; border-left: none; width: 68px">4.869</td>
                        <td class="xl65" style="border-top: none; border-left: none; width: 68px">4.683</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="featurePolygonlayertab" class="tabcontent">
            <table style="height: 149px; width: 306px" border="1" width="412">
                <tbody>
                    <tr style="height: 18px">
                        <td style="width: 150px; background-color: yellow; height: 18px"><strong>Feature count</strong></td>
                        <td style="width: 201px; background-color: yellow; height: 18px" colspan="3"><strong>Time to load</strong></td>
                    </tr>
                    <tr style="height: 14.25pt">
                        <td class="xl65" style="height: 14.25pt; width: 105px" width="110" height="19">1000</td>
                        <td class="xl65" style="border-left: none; width: 67px" width="110">0.208&nbsp;</td>
                        <td class="xl65" style="border-left: none; width: 67px" width="110">0.179</td>
                        <td class="xl65" style="border-left: none; width: 67px" width="110">0.205</td>
                    </tr>
                    <tr style="height: 14.25pt">
                        <td class="xl65" style="height: 14.25pt; border-top: none; width: 105px" height="19">5000</td>
                        <td class="xl65" style="border-top: none; border-left: none; width: 67px">0.832</td>
                        <td class="xl65" style="border-top: none; border-left: none; width: 67px">0.64</td>
                        <td class="xl65" style="border-top: none; border-left: none; width: 67px">0.611</td>
                    </tr>
                    <tr style="height: 14.25pt">
                        <td class="xl65" style="height: 14.25pt; border-top: none; width: 105px" height="19">10000</td>
                        <td class="xl65" style="border-top: none; border-left: none; width: 67px">1.245</td>
                        <td class="xl65" style="border-top: none; border-left: none; width: 67px">1.352</td>
                        <td class="xl65" style="border-top: none; border-left: none; width: 67px">1.012</td>
                    </tr>
                    <tr style="height: 14.25pt">
                        <td class="xl65" style="height: 14.25pt; border-top: none; width: 105px" height="19">15000</td>
                        <td class="xl65" style="border-top: none; border-left: none; width: 67px">crash</td>
                        <td class="xl65" style="border-top: none; border-left: none; width: 67px">1.409</td>
                        <td class="xl65" style="border-top: none; border-left: none; width: 67px">1.417</td>
                    </tr>
                    <tr style="height: 14.25pt">
                        <td class="xl65" style="height: 14.25pt; border-top: none; width: 105px" height="19">25000</td>
                        <td class="xl65" style="border-top: none; border-left: none; width: 67px">&nbsp;</td>
                        <td class="xl65" style="border-top: none; border-left: none; width: 67px">2.147</td>
                        <td class="xl65" style="border-top: none; border-left: none; width: 67px">crash</td>
                    </tr>
                    <tr style="height: 14.25pt">
                        <td class="xl65" style="height: 14.25pt; border-top: none; width: 105px" height="19">50000</td>
                        <td class="xl65" style="border-top: none; border-left: none; width: 67px">&nbsp;</td>
                        <td class="xl65" style="border-top: none; border-left: none; width: 67px">crash</td>
                        <td class="xl65" style="border-top: none; border-left: none; width: 67px">&nbsp;</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <script src="codedoc.js"></script>
        <script>
            let tzoom0 = 0;
            // initialize cgpv and api events, a callback is optional, used if calling api's after the rendering is ready
            cgpv.init(function () {
                console.log('api is ready');
                cgpv.api.on(
                    'map/zoomend',
                    (args) => {
                        console.log(args);
                    },
                    'mapWM'
                );
                cgpv.api.map('mapWM').map.on('zoomstart', function () {
                    tzoom0 = performance.now();
                });
                cgpv.api.map('mapWM').map.on('zoomend', function () {
                    var tzoom1 = performance.now();
                    document.getElementById('zoomtime').innerText = Math.round(tzoom1 - tzoom0) / 1000 + ' Seconds';
                });
            });

            // find the button element by ID
            var addwmsButton = document.getElementById('load-wms-btn');

            var useExample = document.getElementById('useExample');
            useExample.addEventListener('click', function (e) {
                updateURL();
            });

            function updateURL() {
                if (document.getElementById('useExample').checked === true) {
                    switch (document.getElementById('layerType').value) {
                        case 'esriFeature':
                            document.getElementById('url').value =
                                'https://geoappext.nrcan.gc.ca/arcgis/rest/services/NACEI/energy_infrastructure_of_north_america_en/MapServer/1';
                            document.getElementById('entries').value = 0;
                            break;
                        case 'esriDynamic':
                            document.getElementById('url').value =
                                'https://geoappext.nrcan.gc.ca/arcgis/rest/services/NACEI/energy_infrastructure_of_north_america_en/MapServer';
                            document.getElementById('entries').value = '0, 2, 4, 5';
                            break;
                        case 'ogcWMS':
                            document.getElementById('url').value =
                                'https://webservices.maps.canada.ca/arcgis/services/StatCan/census_subdivisions_2016_en/MapServer/WMSServer';
                            document.getElementById('entries').value = 0;
                            break;
                        case 'geoJSONPoint':
                            document.getElementById('url').value = './geojson/points.json';
                            document.getElementById('entries').value = '';
                            break;
                        case 'geoJSONLine':
                            document.getElementById('url').value = './geojson/lines.json';
                            document.getElementById('entries').value = '';
                            break;
                        case 'geoJSONPolygon':
                            document.getElementById('url').value = './geojson/polygons.json';
                            document.getElementById('entries').value = '';
                            break;
                    }
                }
            }

            var layerTypeCbo = document.getElementById('layerType');
            layerTypeCbo.addEventListener('change', function (e) {
                updateEntriesVisibility();
                updateURL();
            });
            var addFeatureButton = document.getElementById('load-btn');
            addFeatureButton.addEventListener('click', function (e) {
                var t0 = performance.now();
                if (typeof parseInt(document.getElementById('layerCount').value) === 'number') {
                    let i = 1;

                    for (j = 0; j < parseInt(document.getElementById('layerCount').value); j++) {
                        if (['ogcWMS'].indexOf(document.getElementById('layerType').value) > -1) {
                            const layerID = cgpv.api.map('mapWM').createWmsLayer({
                                type: document.getElementById('layerType').value,
                                entries: document.getElementById('entries').value,
                                url: document.getElementById('url').value,
                            });
                        }
                        if (['esriFeature'].indexOf(document.getElementById('layerType').value) > -1) {
                            const layerID = cgpv.api.map('mapWM').createFeatureLayer({
                                type: document.getElementById('layerType').value,
                                entries: document.getElementById('entries').value,
                                url: document.getElementById('url').value,
                            });
                        }
                        if (['esriDynamic'].indexOf(document.getElementById('layerType').value) > -1) {
                            const layerID = cgpv.api.map('mapWM').createDynamicLayer({
                                type: document.getElementById('layerType').value,
                                entries: document.getElementById('entries').value,
                                url: document.getElementById('url').value,
                            });
                        }
                        if (['geoJSONPoint', 'geoJSONPolygon', 'geoJSONLine'].indexOf(document.getElementById('layerType').value) > -1) {
                            const layerID = cgpv.api.map('mapWM').createGeoJSONLayer({
                                type: document.getElementById('layerType').value,
                                entries: document.getElementById('entries').value,
                                url: document.getElementById('url').value,
                            });
                        }
                        // add an event listener when a button is clicked
                        // adding a geojson layer requires a type of geojson and url

                        i++;
                    }
                }
                cgpv.api.map('mapWM').layers[cgpv.api.map('mapWM').layers.length - 1].layer.on('load', function () {
                    if (!document.getElementById('timer').innerText) {
                        var t1 = performance.now();
                        document.getElementById('timer').innerText = Math.round(t1 - t0) / 1000 + ' Seconds';
                    }
                });
            });

            var addFeatureButton = document.getElementById('load-features-btn');
            addFeatureButton.addEventListener('click', function (e) {
                if (['jsonFeatures'].indexOf(document.getElementById('layerType').value) > -1) {
                    var t0 = performance.now();
                    switch (document.getElementById('jsonfeaturetype').value) {
                        case 'jsonPoint':
                            addJSONPoint();
                            break;

                        case 'jsonLine':
                            addJSONLine();
                            break;
                        default:
                            addJSONPolygon();
                    }
                }
                var t1 = performance.now();
                document.getElementById('timer').innerText = Math.round(t1 - t0) / 1000 + ' Seconds';
            });

            function addJSONPolyline() {
                let i = 1;
                for (j = 0; j < parseInt(document.getElementById('featureCnt').value); j++) {
                    addPolyline(cgpv.api.map('mapWM'));
                }
            }

            function addJSONPoint() {
                for (j = 0; j < parseInt(document.getElementById('featureCnt').value); j++) {
                    addCircleMarker(cgpv.api.map('mapWM'), Math.floor(Math.random()));
                }
            }

            function addJSONPolygon() {
                for (j = 0; j < parseInt(document.getElementById('featureCnt').value); j++) {
                    addPolygon(cgpv.api.map('mapWM'), Math.floor(Math.random() * 2));
                }
            }

            function addCircleMarker(map) {
                // call an api function to draw a polygon
                const circleMarker = cgpv.api
                    .map(map)
                    .addCircleMarker(generateRandomCoord()[0], -generateRandomCoord()[1], Math.floor(Math.random() * 20), {
                        color: 'red',
                        fillColor: '#f03',
                        fillOpacity: 0.5,
                        radius: 50.0,
                    });
                cgpv.api.map(map).addToGeometryGroup(circleMarker);
            }
            function updateEntriesVisibility() {
                if (
                    ['ogcWMS', 'esriFeature', , 'esriDynamic', 'geoJSONPoint', 'geoJSONLine', 'geoJSONPolygon'].indexOf(
                        document.getElementById('layerType').value
                    ) > -1
                ) {
                    document.getElementById('sourcedLayers').style.display = 'block';
                    document.getElementById('jsonFeatures').style.display = 'none';
                }
                if (['jsonFeatures'].indexOf(document.getElementById('layerType').value) > -1) {
                    document.getElementById('jsonFeatures').style.display = 'block';
                    document.getElementById('sourcedLayers').style.display = 'none';
                }
            }
            function addPolygon(map, factor) {
                const center = generateRandomCoord();
                // call an api function to draw a polygon
                const polygon = cgpv.api.map(map).addPolygon(
                    [
                        [center[0] + factor, -center[1] + factor],
                        [center[0] + factor, -center[1] - factor],
                        [center[0] - factor, -center[1] - factor],
                        [center[0] - factor, -center[1] + factor],
                    ],
                    {
                        stroke: true,
                        color: '#000',
                        weight: 5,
                        opacity: '0.8',
                    }
                );
                cgpv.api.map(map).addToGeometryGroup(polygon);
            }

            function addPolyline(map) {
                // call an api function to draw a polyline
                const polyline = cgpv.api.map(map).addPolyline(
                    [
                        [generateRandomCoord()[0], -generateRandomCoord()[1]],
                        [generateRandomCoord()[0], -generateRandomCoord()[1]],
                    ],
                    {
                        stroke: true,
                        color: '#000',
                        weight: 5,
                        opacity: '0.8',
                    }
                );

                cgpv.api.map(map).addToGeometryGroup(polyline);
            }

            function generateRandomCoord() {
                return [Math.floor(Math.random() * (72 - 40)) + 40, Math.floor(Math.random() * (129 - 62)) + 62];
            }

            var tabs = document.getElementsByClassName('tablinks');
            for (i = 0; i < tabs.length; i++) {
                tabs[i].addEventListener('click', function (e) {
                    openTab(e);
                });
            }

            function openTab(e) {
                console.log(e.path[0].id);
                var i, tabcontent, tablinks;
                tabcontent = document.getElementsByClassName('tabcontent');
                for (i = 0; i < tabcontent.length; i++) {
                    tabcontent[i].style.display = 'none';
                }
                tablinks = document.getElementsByClassName('tablinks');
                for (i = 0; i < tablinks.length; i++) {
                    tablinks[i].className = tablinks[i].className.replace(' active', '');
                }
                document.getElementById(e.path[0].id + 'tab').style.display = 'block';
            }
        </script>
    </body>
</html>
