<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%= htmlWebpackPlugin.options.title %></title>
        <link rel="shortcut icon" href="./favicon.ico" />
        <meta name="msapplication-TileColor" content="#da532c" />
        <meta name="msapplication-config" content="./img/browserconfig.xml" />
        <meta name="theme-color" content="#ffffff" />
        <meta name="msapplication-TileColor" content="#da532c" />
        <meta name="theme-color" content="#ffffff" />
        <link
            href="https://fonts.googleapis.com/css?family=Roboto|Montserrat:200,300,400,900|Merriweather"
            rel="stylesheet"
            type="text/css"
        />
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
        <link rel="stylesheet" href="css/style.css" />
    </head>
    <body>
        <div calss="header-table">
            <table>
                <tbody>
                    <tr>
                        <td><img class="header-logo" alt="logo" src="./img/Logo.png" /></td>
                        <td class="header-title">
                            <h1><strong>Use Case</strong></h1>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <a href="./index.html">Main</a><br />
                            <a href="#HUC1">Use Case 1</a><br />
                            <a href="#HUC2">Use Case 2</a><br />
                            <a href="#HUC3">Use Case 3</a><br />
                            <a href="#HUC4">Use Case 4</a><br />
                        </td>
                    </tr>
                </tbody>
            </table>
            <table>
                <tbody>
                    <tr>
                        <td>
                            This page is used to showcase how the viewer may be use in different situation. There is, at the moment, 4 use
                            cases to address.
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <h3 id="HUC1">1.Display Metedata</h3>
            <h3><a href="#top">Top of the page</a></h3>
            <div>
                <div
                    id="UC1"
                    class="llwp-map"
                    data-leaflet="{ 'name': 'LCC', 'projection': 3978, 'zoom': 4, 'center': [60,-100], 'language': 'fr-CA', 'basemapOptions': { 'id': 'transport', 'shaded': true, 'labeled': true }, 'layers': [] }"
                ></div>
            </div>
            <p>This map is in LLC projection with an English interface.</p>
            <p><strong>Configuraion Snippet:</strong></p>
            <div id="UC1CS" class="panel"></div>
            <p><strong>Code Snippet:</strong></p>
            <div id="codeSnippet" class="panel"></div>
        </div>
        <hr />
        <div>
            <h3 id="HUC2">2. Display Thumbnail</h3>
            <h3><a href="#top">Top of the page</a></h3>
            <div
                id="UC2"
                class="llwp-map"
                data-leaflet="{'name': 'Web Mercator', 'projection': 3857, 'zoom': 4, 'center': [60,-100], 'language': 'en-CA', 'basemapOptions': { 'id': 'transport', 'shaded': false },
            'layers':[
                { 'name': 'Census', 'url': 'https://webservices.maps.canada.ca/arcgis/services/StatCan/census_subdivisions_2016_en/MapServer/WMSServer', 'type': 'ogcWMS', 'entries': '0' },
                { 'name': 'Energy', 'url': 'https://geoappext.nrcan.gc.ca/arcgis/rest/services/NRCAN/Investing_Energy_Canada_en/MapServer', 'type': 'esriDynamic', 'entries': '0, 2' },
                { 'name': 'Geochron', 'url': 'https://geoappext.nrcan.gc.ca/arcgis/rest/services/GSCC/Geochronology/MapServer', 'type': 'esriDynamic', 'entries': '0' },
                { 'name': 'GeoJOSN - line', 'url': './geojson/lines.json', 'type': 'geoJSON' },
                { 'name': 'GeoJSON - point', 'url': './geojson/points.json', 'type': 'geoJSON' },
                { 'name': 'GeoJSON - polygon', 'url': './geojson/polygons.json', 'type': 'geoJSON' },
                { 'name': 'Geomet', 'url': 'https://geo.weather.gc.ca/geomet', 'type': 'ogcWMS', 'entries': 'RAQDPS-FW.CE_PM2.5-DIFF-YAvg' }
            ]}"
            ></div>
            <p>Use to display a map like a thumbnail with minimun functions.</p>
            <p><strong>Configuraion Snippet:</strong></p>
            <div id="UC2CS" class="panel"></div>
        </div>
        <div>
            <h3 id="HUC3">3.Geo Search</h3>
            <h3><a href="#top">Top of the page</a></h3>
            <div
                id="UC3"
                class="llwp-map"
                data-leaflet="{ 'name': 'LCC_SHADED', 'projection': 3978, 'zoom': 4, 'center': [60,-100], 'language': 'fr-CA','basemapOptions': { 'id': 'simple', 'shaded': true, 'labeled': false }, 'layers': [] }"
            ></div>
            <p>Description</p>
            <p><strong>Configuraion Snippet:</strong></p>
            <div id="UC3CS" class="panel"></div>
        </div>
        <div>
            <h3 id="HUC4">4: Simple viewer</h3>
            <h3><a href="#top">Top of the page</a></h3>
            <div
                id="UC4"
                class="llwp-map"
                data-leaflet="{ 'name': 'LCC_SHADED', 'projection': 3978, 'zoom': 4, 'center': [60,-100], 'language': 'fr-CA', 'basemapOptions': { 'id': 'simple', 'shaded': true, 'labeled': false }, 'layers': [] }"
            ></div>
            <p>Description</p>
            <p><strong>Configuraion Snippet:</strong></p>
            <div id="UC4CS" class="panel"></div>
        </div>
        <script src="codedoc.js"></script>
        <script>
            function addPolyline(map) {
                // call an api function to draw a polyline
                const polyline = cgpv.api.map(map).addPolyline(
                    [
                        [45, -100],
                        [50, -105],
                    ],
                    {
                        stroke: true,
                        color: '#000',
                        weight: 5,
                        opacity: '0.8',
                    }
                );
                cgpv.api.map(map).addToGeometryGroup(polyline);
            }

            function addPolygon(map) {
                // call an api function to draw a polygon
                const polygon = cgpv.api.map(map).addPolygon(
                    [
                        [48, -109.05],
                        [54, -109.03],
                        [54, -102.05],
                        [48, -102.04],
                    ],
                    {
                        stroke: true,
                        color: '#000',
                        weight: 5,
                        opacity: '0.8',
                    }
                );
                cgpv.api.map(map).addToGeometryGroup(polygon);
            }

            function addCircle(map) {
                // call an api function to draw a polygon
                const circle = cgpv.api.map(map).addCircle(50, -109, 200, {
                    color: 'red',
                    fillColor: '#f03',
                    fillOpacity: 0.5,
                    radius: 50.0,
                });
                cgpv.api.map(map).addToGeometryGroup(circle);
            }

            function addCircleMarker(map) {
                // call an api function to draw a polygon
                const circleMarker = cgpv.api.map(map).addCircleMarker(70, -109, 5, {
                    color: 'red',
                    fillColor: '#f03',
                    fillOpacity: 0.5,
                    radius: 50.0,
                });
                cgpv.api.map(map).addToGeometryGroup(circleMarker);
            }

            // initialize cgpv and api events, a callback is optional, used if calling api's after the rendering is ready
            cgpv.init(function () {
                console.log('api is ready');

                //create snippets
                createCodeSnippet();
                createConfigSnippet();

                //add polygon to map
                addPolygon('UC1');
            });
        </script>
    </body>
</html>
