<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%= htmlWebpackPlugin.options.title %></title>
        <link rel="shortcut icon" href="./favicon.ico" />
        <meta name="msapplication-TileColor" content="#da532c" />
        <meta name="msapplication-config" content="./img/browserconfig.xml" />
        <meta name="theme-color" content="#ffffff" />
        <meta name="msapplication-TileColor" content="#da532c" />
        <meta name="theme-color" content="#ffffff" />
        <link
            href="https://fonts.googleapis.com/css?family=Roboto|Montserrat:200,300,400,900|Merriweather"
            rel="stylesheet"
            type="text/css"
        />
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
        <link rel="stylesheet" href="css/style.css" />
    </head>
    <body>
        <div calss="header-table">
            <table>
                <tbody>
                    <tr>
                        <td><img class="header-logo" alt="logo" src="./img/Logo.png" /></td>
                        <td class="header-title">
                            <h1><strong>Vector</strong></h1>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table>
                <tbody>
                    <tr>
                        <td><a href="./index.html">Main</a><br /></td>
                    </tr>
                </tbody>
            </table>
            <table>
                <tbody>
                    <tr>
                        <td>This page is used to showcase how the viewer may implement different vector functions</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <button class="create-group-btn">Create Geometry Group</button>
        <input type="text" id="groupname" /> <label>If not provided, default group will be used</label>
        <div class="toolbar">
            <button class="add-polyline-btn">Add Polyline</button>
            <button class="add-polygon-btn">Add Polygon</button>
            <button class="add-circle-btn">Add Circle</button>
            <button class="add-circle-marker-btn">Add Circle Marker</button>
        </div>
        <button class="delete-group-btn">Delete Group</button>
        <label>
            The Delete Group button will delete remove the group if group name was provided above. if not will clear all geometries from
            default group
        </label>
        <div
            id="mapWM"
            class="llwp-map"
            data-leaflet="{ 'name': 'Web Mercator', 'projection': 3857, 'zoom': 4, 'center': [60,-100], 'language': 'en-CA', 'basemapOptions': { 'id': 'transport', 'shaded': false, 'labeled': true }, 'layers': [] }"
        ></div>
        <p><strong>Configuration Snippet:</strong></p>
        <div id="mapWMCS" class="panel"></div>
        <p><strong>Code Snippet:</strong></p>
        <div id="codeSnippet" class="panel"></div>
        <br />
        <script src="codedoc.js"></script>
        <script>
            function addPolyline(map) {
                // call an api function to draw a polyline
                const polyline = cgpv.api.map(map).addPolyline(
                    [
                        [45, -100],
                        [50, -105],
                    ],
                    {
                        stroke: true,
                        color: '#000',
                        weight: 5,
                        opacity: '0.8',
                    }
                );

                cgpv.api.map(map).addToGeometryGroup(polyline, document.getElementById('groupname').value);
            }

            function addPolygon(map) {
                // call an api function to draw a polygon
                const polygon = cgpv.api.map(map).addPolygon(
                    [
                        [50, -109.05],
                        [54, -109.03],
                        [54, -102.05],
                        [50, -102.04],
                    ],
                    {
                        stroke: true,
                        color: '#000',
                        weight: 5,
                        opacity: '0.8',
                    }
                );
                cgpv.api.map(map).addToGeometryGroup(polygon, document.getElementById('groupname').value);
            }

            function addCircle(map) {
                // call an api function to draw a polygon
                const circle = cgpv.api.map(map).addCircle(50, -109, 200, {
                    color: 'red',
                    fillColor: '#f03',
                    fillOpacity: 0.5,
                    radius: 50.0,
                });

                cgpv.api.map(map).addToGeometryGroup(circle, document.getElementById('groupname').value);
            }

            function addCircleMarker(map) {
                // call an api function to draw a polygon
                const circleMarker = cgpv.api.map(map).addCircleMarker(70, -109, 5, {
                    color: 'red',
                    fillColor: '#f03',
                    fillOpacity: 0.5,
                    radius: 50.0,
                });
                cgpv.api.map(map).addToGeometryGroup(circleMarker, document.getElementById('groupname').value);
            }

            // initialize cgpv and api events, a callback is optional, used if calling api's after the rendering is ready
            cgpv.init(function () {
                console.log('api is ready');

                //create snippets
                createCodeSnippet();
                createConfigSnippet();

                // get addPolyline button element for WM map
                var addPolylineBtn = document.getElementsByClassName('add-polyline-btn')[0];

                // add event handler to the add polyline button
                addPolylineBtn.addEventListener('click', function (e) {
                    addPolyline('mapWM');
                });

                // get addPolygon button element for WM map
                var addPolygonBtn = document.getElementsByClassName('add-polygon-btn')[0];

                // add event handler to the add Polygon button
                addPolygonBtn.addEventListener('click', function (e) {
                    addPolygon('mapWM');
                });

                // get addCircle button element for WM map
                var addCircleBtn = document.getElementsByClassName('add-circle-btn')[0];

                // add event handler to the add circle button
                addCircleBtn.addEventListener('click', function (e) {
                    addCircle('mapWM');
                });

                // get add circle marker button element for WM map
                var addCircleMarkerBtn = document.getElementsByClassName('add-circle-marker-btn')[0];

                // add event handler to the add circle marker button
                addCircleMarkerBtn.addEventListener('click', function (e) {
                    addCircleMarker('mapWM');
                });

                // get deleteGeomtryGroup button element for WM map
                var deleteGeomtryGroup = document.getElementsByClassName('delete-group-btn')[0];

                //  add event handler to the delete geometry group button
                deleteGeomtryGroup.addEventListener('click', function (e) {
                    // call an api function to  delete the geometry group
                    cgpv.api.map('mapWM').deleteGeometryGroup(document.getElementById('groupname').value);
                });

                // get deleteGeomtryFromGroup button element for WM map
                var createGeomtryFromGroup = document.getElementsByClassName('create-group-btn')[0];

                //  add event handler to the delete geometry group button
                createGeomtryFromGroup.addEventListener('click', function (e) {
                    // call an api function to  delete the geometry group
                    cgpv.api.map('mapWM').createGeometryGroup(document.getElementById('groupname').value);
                    alert('Geometry Group Created');
                });
            });
        </script>
    </body>
</html>
