/*
 * This section is use to hold styles relative to marker cluster
 */
.marker-cluster-full.hole {
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  margin: -15px 0 0 -15px;
  background: rgb(147, 222, 111);
  border: 1px solid rgb(52, 104, 32);
  transform: rotate(45deg);
  transform: skewY(-25deg);
  border-radius: 50%;
  left: 50%;
  top: 50%;
}

.marker-cluster-full.fill {
  position: absolute;
  width: 40px;
  height: 40px;
  margin: -20px 0 0 -20px;
  background: rgb(28, 169, 25);
  border: 1px solid rgb(59, 89, 44);
  border-radius: 50% 50% 50% 0;
  transform: rotate(-45deg);
  transform: skewY(-25deg);
  left: 50%;
  top: 50%;
}

.marker-cluster-empty.hole {
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  margin: -15px 0 0 -15px;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(59, 89, 44);
  transform: rotate(45deg);
  transform: skewY(-25deg);
  border-radius: 50%;
  left: 50%;
  top: 50%;
}

.marker-cluster-empty.fill {
  position: absolute;
  width: 40px;
  height: 40px;
  margin: -20px 0 0 -20px;
  background: rgb(46, 113, 203);
  border: 1px solid rgb(25, 25, 110);
  border-radius: 50% 50% 50% 0;
  transform: rotate(-45deg);
  transform: skewY(-25deg);
  left: 50%;
  top: 50%;
}

.marker-cluster-part.hole {
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  margin: -15px 0 0 -15px;
  background: rgb(147, 222, 111);
  border: 1px solid rgb(104, 52, 32);
  transform: rotate(45deg);
  transform: skewY(-25deg);
  border-radius: 50%;
  left: 50%;
  top: 50%;
}

.marker-cluster-part.fill {
  position: absolute;
  width: 40px;
  height: 40px;
  margin: -20px 0 0 -20px;
  background: rgb(46, 113, 203);
  border: 1px solid rgb(25, 25, 110);
  border-radius: 50% 50% 50% 0;
  transform: rotate(-45deg);
  transform: skewY(-25deg);
  left: 50%;
  top: 50%;
}

.marker-green.hole {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  margin: -5px 0 0 -5px;
  background: rgb(147, 222, 111);
  border: 1px solid rgb(59, 89, 44);
  transform: rotate(45deg);
  border-radius: 50%;
  left: 50%;
  top: 50%;
}

.marker-green.fill {
  position: absolute;
  width: 20px;
  height: 20px;
  margin: -10px 0 0 -10px;
  background: rgb(28, 169, 25);
  border: 1px solid rgb(59, 89, 44);
  border-radius: 50% 50% 50% 0;
  transform: rotate(-45deg);
  transform: skewY(-25deg);
  left: 50%;
  top: 50%;
}

.marker-blue.hole {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  margin: -5px 0 0 -5px;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(25, 55, 110);
  transform: rotate(45deg);
  border-radius: 50%;
  left: 50%;
  top: 50%;
}

.marker-blue.fill {
  position: absolute;
  width: 20px;
  height: 20px;
  margin: -10px 0 0 -10px;
  background: rgb(46, 113, 203);
  border: 1px solid rgb(25, 55, 110);
  border-radius: 50% 50% 50% 0;
  transform: rotate(-45deg);
  transform: skewY(-25deg);
  left: 50%;
  top: 50%;
}

.cluster-div-icon-text {
  position: absolute;
  text-align: center;
  width: 30px;
  height: 30px;
  margin: -8px 0 0 -15px;
  font-size: 9px;
}

.div-icon.blinking-icon-enabled div.hole {
  animation: blinking-hole 1s ease-in infinite;
}
@keyframes blinking-hole {
  0% {
    background: rgb(0, 0, 0);
    border: 1px solid rgb(255, 255, 255);
  }
  50% {
    background: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
  }
  100% {
    background: rgb(0, 0, 0);
    border: 1px solid rgb(255, 255, 255);
  }
}

.cluster-div-icon.blinking-icon-enabled b.cluster-text {
  animation: blinking-text 1s ease-in infinite;
}
@keyframes blinking-text {
  0% {
    color: rgb(0, 0, 0);
  }
  50% {
    color: rgb(255, 255, 255);
  }
  100% {
    color: rgb(0, 0, 0);
  }
}

.cluster-div-icon.spiderfied-marker {
  z-index: 0 !important;
}

.cluster-div-icon:not(:hover) {
  z-index: 0 !important;
}

.div-icon:not(:hover) {
  z-index: 1 !important;
}
